[Desktop Entry]
Name=Dev Container
GenericName=Development container
Comment=Start the dotfiles development container
Categories=Development;
Exec=/home/tamim/dotfiles/containers/dev/enter
Icon=/usr/share/pixmaps/archlinux-logo.svg
Keywords=podman;container;development;
Terminal=true
TryExec=/home/tamim/dotfiles/containers/dev/enter
Type=Application
