[Desktop Entry]
Name=Dev Container
GenericName=Development container
Comment=Start the Box development container
Categories=Development;
Exec=/ssd2/box/containers/dev/enter
Icon=/usr/share/pixmaps/archlinux-logo.svg
Keywords=podman;container;development;
Terminal=true
TryExec=/ssd2/box/containers/dev/enter
Type=Application
